@import { url('~/platform.css') };

Page {
    background-color: #ff8986;
    font-size: 17;
}
TextField {
    margin: 10;
    padding: 10;
}
Button {
    margin: 10;
    padding: 10;
}
.page-header {
    font-size:28;
    font-weight: bold;
}