.scroll-menu {
    height: 220;
    padding: 10;
    background-color: transparent;
    border: 1;
}

.list-img {
    width: 165;
    height: 220;
    margin-right: 10;
}
.list-img-label {
    color: #FFF;
    font-size: 15;
    font-weight: bold;
    text-align: center;
}
.list-img-p {
    width: 165;
    height: 200;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.scroll-pane {
    background-color: #FFF;
    width: 240;
    height: 120;
    margin: 10;
}