ListView {
    margin: 5;
}
Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}
TextField {
    border-width: 5;
    border-style: solid;
    border-color: #ff8986;
}
Image {
    margin: 10;
}
Button {
    border: 0;
    border-color: #ff8986;
}
.list-row {
    border-color: #ef706d;
    border-width: 1;
    background-color: #FFF;
    color: #ef706d;
    font-size: 20;
}
.page-header {
    color: #FFF;
}